bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# idea things
.idea/

# local system
SehatMand.API/appsettings.Development.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
